.env
that.command
.cursor
test.py
.directory
report.md
images
datasets
/__pycache__/
*.pyc
pickles
simple_test.ipynb
test.json
pipeline
*.md
*.pkl
*.ipynb
streaming_test.py
demo.py
messagesjsonwithexamples.json
static
.directory